.register {
  height: 100vh;
  background: url("/assets/logo2.0.png");
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background:transparent;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background:transparent;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }
      
      p {
      }

      span {
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          position: relative;
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
          animation: flicker 1s infinite alternate;

                  @keyframes flicker {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 0.5;
                }
              }
            }
            button::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: radial-gradient(circle, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.4) 70%);
              border-radius: 50%;
              animation: pulse 2s infinite;
            }
            @keyframes pulse {
              0% {
                transform: scale(0);
                opacity: 0;
              }
              50% {
                transform: scale(1.2);
                opacity: 0.7;
              }
              100% {
                transform: scale(0);
                opacity: 0;
              }
            }
        }
      }
    }
  }
