@import "../../style.scss";


.rightBar{
background: url("/assets/right.jpg");
background-size: 330px, 500px;
.left,
.right {
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}
.squad{
  color: lime;
}
.images{
  max-height: 100px;
    max-width: 200px;
    border-radius: 75px;
     border-radius: 50%; 
}
.button,
a {
position: relative;
display: inline-block;
width: 100px;
padding: 10px 25px;
margin: 10px 0;
color: lime;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
transition: 2s;
overflow: hidden;
margin-right: 50px;

&:hover {
  background: #1404fc;
  color: black;
  box-shadow: 0 0 5px #1404fc, 0 0 25px #1404fc, 0 0 50px #1404fc, 0 0 200px #1404fc;
}

&:nth-child(2) {
  filter: hue-rotate(270deg);
}

span {
  position: absolute;
  display: block;

  &:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1404fc);
    animation: animate1 4s linear infinite;
  }

  &:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1404fc);
    animation: animate2 4s linear infinite;
    animation-delay: 1s;
  }

  &:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #1404fc);
    animation: animate3 4s linear infinite;
  }

  &:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1404fc);
    animation: animate4 4s linear infinite;
    animation-delay: 1s;
  }
}
}

@keyframes animate1 {
0% {
  left: -100%;
}
50%, 100% {
  left: 100%;
}
}

@keyframes animate2 {
0% {
  top: -100%;
}
50%, 100% {
  top: 100%;
}
}

@keyframes animate3 {
0% {
  right: -100%;
}
50%, 100% {
  right: 100%;
}
}

@keyframes animate4 {
0% {
  bottom: -100%;
}
50%, 100% {
  bottom: 100%;
}
}
}
.neon {
  color: #ffffff;
  text-shadow:
    0 0 5px #ddb8eb,
    0 0 10px #ddb8eb,
    0 0 20px #ddb8eb,
    0 0 40px #ddb8eb,
    0 0 80px #Bc13fe
,
    0 0 90px #Bc13fe
,
    0 0 100px #Bc13fe
,
    0 0 150px #Bc13fe
;
}
.neon2 {
  color: #ffffff;
  text-shadow:
    0 0 5px #ddb8eb,
    0 0 10px #ddb8eb,
    0 0 20px #ddb8eb,
    0 0 40px #ddb8eb,
    0 0 80px #Bc13fe
,
    0 0 90px #Bc13fe
,
    0 0 100px #Bc13fe
,
    0 0 150px #Bc13fe
;
position: relative;
left: 10px;
}



