// @import "../../style.scss";

.navbar {
  // @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background:url("/assets/logotextonly.png");
    background-position: top;
    color:themed("textColor");
    z-index: 999;
    
    .p1{
position: relative;
left:200px;
    }
    .p2{
      position: relative;
      left:200px;
          }

.font{
  font-size: medium;
}

    .images{
      max-height: 100px;
        max-width: 200px;
        border-radius: 75px;
         border-radius: 50%; 
    }}
  
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }